.post-input {
  border: 1px solid #8c2634;
  border-radius: 25px;
  text-align: left;
}

.title-input {
  outline: none;
  border: 0;
  background-color: transparent;
  font-size: larger;
  font-family: Campton;
  letter-spacing: 1px;
}

.post-textarea {
  outline: none;
  border: 0;
  width: 100%;
  background-color: transparent;
  font-size: 12px;
}

.share {
  width: 80%;
}

.share-btn {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.image {
  width: 100%;
  margin-bottom: 10px;
  margin-left: 10px;
}

input[type="file"] {
  display: none;
}
